<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WordDocument2.Properties.Settings.Diploma_TestConnectionString"
            connectionString="Data Source=VERAIVANOVAC08C\SQLEXPRESS;Initial Catalog=Diploma_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>