<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiplomaTestWindowsForms.Properties.Settings.Diploma_TestConnectionString" connectionString="Data Source=VERAIVANOVAC08C\SQLEXPRESS;Initial Catalog=Diploma_Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
